<link href="/css/header.css" rel="stylesheet">
<div class="navbar navbar-inverse navbar-static-top" role="navigation" style="max-height: 50px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= siteInfo.sitename %></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="https://github.com/NorianNyx">Github</a></li>
            </ul>
          </ul>
            <% if (!isAuthenticated) { %>
                <form class="navbar-form navbar-right" role="form" method="post" action="/login">
                    <div class="form-group">
                        <input type="text" placeholder="Username" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-success">Sign In</button>
                    <input type="button" class="btn btn-primary" value="Sign Up" onclick="$.fancybox('#signupForm', { closeBtn: false });" />
                </form>
            <% } else { %>
                <form action="/logout" method="get">
                    <button type="submit" class="btn btn-danger navbar-right" style="margin: 8px;">Sign Out</button>
                </form>
                <label class="navbar-right" style="color: #FFF; margin: 15px;">Hello, <a href="/profile"><%= user.Local.Username %></a></label>
                <a href="/profile"><img alt="User Pic" src="<%= gravatarUrl %>" class="navbar-right" style="height: 40px; width: 40px; margin: 5px; margin-right: 0px;"></a>
            <% } %>
        </div><!--/.navbar-collapse -->
    </div>
</div>
<% include /signup.ejs %>