<!DOCTYPE html>
<html>
    <head>
        <title><%= siteInfo.sitename %></title>
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/bower_components/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
        <%- stylesheets %>
    </head>
    <body>
        <% if (isInRole(userRoles, 'Administrator')) { %>
            <% include ../includes/admin/adminbar.ejs %>
        <% } %>
        <% include ../includes/header.ejs %>
        <%- body -%>
        <% include ../includes/footer.ejs %>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/fancybox/source/jquery.fancybox.js"></script>
        <script src="/shelby/js/signup.js"></script>
        <%- scripts %>
    </body>
</html>