<!DOCTYPE html>
<html>
    <head>
        <title><%= siteInfo.sitename %></title>
        <link href="components/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="components/bower_components/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
        <link href="components/shelby/css/shelby.css" rel="stylesheet" />
        <%- stylesheets %>
    </head>
    <body>
        <% if (isInRole('Administrator')) { %>
            <% include ../includes/admin/adminbar/adminbar.ejs %>
        <% } %>
        <% include ../includes/header/header.ejs %>
        <%- body -%>
        <% include ../includes/footer/footer.ejs %>
        <div class="loader"></div>
        <script src="components/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="components/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="components/bower_components/fancybox/source/jquery.fancybox.js"></script>
        <script src="components/shelby/js/shelby.js"></script>
        <%- scripts %>
    </body>
</html>