<div class="container">
    <h3>Admin Panel</h3>
    <hr />
    <div class="container">
        <a href="/editusers" class="admin-icon"><span class="glyphicon glyphicon-user"></span><br />Edit Users</a>
        <a href="/manageroles" class="admin-icon"><span class="glyphicon glyphicon-tags"></span><br />Manage Roles</a>
    </div>
</div>