<div class="container">
    <h3>Edit Users</h3>
    <hr />
    <table id="userTable" class="table table-striped table-bordered" role="grid" cellspacing="0" width="100%"></table>
</div>
<div id="confirmDeleteUser" style="display: none;">
    <h3>Delete User</h3>
    <hr />
    <p>Are you sure you would like to delete this user?</p>
    <hr />
    <input type="button" class="btn btn-danger" value="Delete" id="deleteUser_submitBtn">
    <input type="reset" class="btn btn-secondary" value="Cancel" onclick="$.fancybox.close();" />
</div>