.navbar-inverse.adminbar, .navbar-inverse.adminbar .navbar-collapse {
    background-image: -webkit-linear-gradient(top,#4C4C4C 0,#222 150%);
    background-image: -o-linear-gradient(top,#4C4C4C 0,#222 150%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4C4C4C),to(#222));
    background-image: linear-gradient(to bottom, #4C4C4C 0,#222 150%);
    border: none;
}

.navbar-static-top {
    border: none;
    margin-top: 50px;
}