body.loading {
    overflow: hidden;
}

body.loading .loader {
    display: block;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('/shelby/imgs/loading.gif') 50% 50% no-repeat;
    z-index: 100;
}