<% stylesheet('views/includes/footer/css/footer.css') %>
<link href="" rel="stylesheet" />
<div class="footer">
    <hr />
    <div class="container">
        <footer>
            <p><%= siteInfo.copyright %></p>
        </footer>
    </div>
</div>