<% stylesheet('//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css') %>
<div class="container">
    <h3>Manage Roles</h3>
    <hr />
    <table id="roleTable" class="table table-striped table-bordered" role="grid" cellspacing="0" width="100%"></table>
    <button class="btn btn-primary" onclick="$.fancybox('#createRoleForm', { closeBtn: false }); return false;">Create Role</button>
</div>
<div id="userRoles" style="display: none; min-width: 750px; overflow: hidden;">
    <h3 id="roleName"></h3>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <select class="form-control" id="slctUser">
            </select>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary" onclick="manageRoles.addUserToRole()">Add User</button>
        </div>
    </div>
    <br />
    <table id="userRolesTable" class="table table-striped table-bordered" role="grid" cellspacing="0" width="100%"></table>
</div>
<% script('//cdn.datatables.net/1.10.3/js/jquery.dataTables.js') %>
<% script('//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js') %>
<% script('views/modules/admin/manageroles/js/manageroles.js'); %>